/* #ifndef APP-PLUS-NVUE */
view {display: flex;}
/* #endif */
.popou-box{
	/* #ifndef APP-PLUS-NVUE */
	display: flex;
	/* #endif */
	width: 750rpx;
	//padding: 0 30rpx;
	background-color: #FFFFFF;
	border-radius: 30rpx;
	//padding-bottom: 30px;
	justify-content: center;
	align-items: center;
	&__header{
		width: 750rpx;
		//padding: 0 30rpx;
		height: 140rpx;
		justify-content: center;
		align-items: center;
		&__p-title{
			color: #000;
			font-size: 36rpx;
			font-weight: 700;
		}
	}
	&__list{
		width: 750rpx;
		padding: 0 30rpx;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&__item{
			width: 138rpx;//690/5
			justify-content: center;
			align-items: center;
			padding-bottom: 40rpx;
			&__Imagebox{
				width: 98rpx;
				height: 98rpx;
				&__Img{
					width: 98rpx;
					height: 98rpx;
				}
			}
			&__text-name{
				margin-top: 20rpx;
				color: #000;
				font-size: 28rpx;
			}
		}
	}
	&__cell{
		border-top: 2rpx solid #f1f1f1;
		width: 750rpx;
		height: 120rpx;
		justify-content: center;
		align-items: center;
		&__title{}
	}
}


